#select-tablet-main {
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;    
    box-shadow: 10px 5px 5px lightgray;    
    position: relative;
    top: 25%;
    width: max-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#select-tablet-table {
    width: 600px ;
}

.select-tablet-cell {
    font-size: 24px;
    text-align: center;
}

.select-tablet-header-row {
    font-weight: bolder;
    font-size: 36px;
}

.select-tablet-row {
    cursor: pointer;
}

.select-tablet-instruction {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
