
#assign-tablets-main-top-div {
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;    
    box-shadow: 10px 5px 5px lightgray;    
    position: relative;
    top: 25%;
    width: max-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 200px;
}

#assign-tablets-tablet-div {
    display: flex;
    justify-content: center;
}

#assign-tablets-available {
    min-width: 200px ;
    border: 2px solid black ;
    min-height: 350px;
}

#assign-tablets-match {
    min-width: 200px ;
    border: 2px solid black ;
    min-height: 350px;    
}

#assign-tablets-team {
    min-width: 200px ;
    border: 2px solid black ;
    min-height: 350px;    
}

#assign-tablets-buttons {
    display: flex;
    justify-content: center;
}

#assign-tablets-match-holder {
    height: 100%;
}

#assign-tablets-match-span {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bolder;    
}

#assign-tablets-team-holder {
    height: 100%;    
}

#assign-tablets-team-span {
    text-align: center;
    width: 100%;    
    display: block;    
    font-weight: bolder;
}

#assign-tablets-available-holder {
    height: 100%;
}

#assign-tablets-available-span {
    text-align: center;
    width: 100%;
    display: block;    
    font-weight: bolder;    
}

.assign-tablets-list-item {
    text-align: center;
    width: 100% ;
    display: block ;
    cursor:grab;
}