.formula-editor {
    display: 'absolute';
    z-index: 1000;
    position: absolute;
    background-color: #f0f0f0;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.formula-editor-content {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    resize: none ;
}

.formula-editor-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 5%;
    resize: none;
}

.formula-editor-buttondiv {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    justify-content: space-between;
    resize: none;
    width: 98%;
    height: 5%;
    margin-bottom: 20px ;
}

.formula-editor-button {
    margin-left: 20px ;
    margin-right: 20px ;
}

.formula-editor-input {
    display: block ;
    width: 98%;
    height: 85%;
    resize: none;
    margin-left: 10px ;
    margin-right: 10px ;
}

.formula-editor-input-text {
    width: 100%;
    height: 5%;
    resize: none ;
}

.formula-editor-input-autocomplete {
    user-select: none;
    display: flex;
    flex-direction: column;
    overflow: clip;
    width: 100%;
    height: 95%;
    resize: none;
    overflow: auto;
}

.formula-editor-input-autocomplete-item {
    padding: 5px;
    cursor: pointer;
}