.multi-team-select-div {
  display:flex;
  flex-direction: row;    
  border: 2px solid black ;
  border-radius: 25px;
  margin: 5px 20px 5px 20px;
  text-align: center;
  background: lightblue
  }
  
  .multi-team-select {
    margin: 10px 10px 10px 10px ;
  }

  .multi-team-top {
    height: 100%;
    width: 100%;
    display: flex ;
    flex-direction: column;
}