.team-status-header-row {
    font-weight: bold ;
    font-size: 18px;
    cursor: pointer;
}

.team-status-row-yes {
    background-color: #92ed96;
}

.team-status-row-no {
    background-color: rgb(246, 149, 149);
}