html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden ;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden ;
}

.container {
    height: 99%;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    margin: 0px;
    padding: 0px;
}

.container__left {
    width: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #111;
}

.resizer {
    background-color: gray;
    cursor: ew-resize;
    height: 100%;
    width: 8px;
}

.container__right {
    width: 100%;
    height: 100%;
    overflow: auto ;
}

#rightcontent {
    width: 100%;
    height: 100%;
}
