.form-view-topmost {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.form-view-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 0;
}

.form-view-tab {
    border: 1px solid #ccc;
    background-color: #c1c1c1;
    flex-grow: 0;
}

.form-view-form {
    flex-grow: 1;
    z-index: 1;
}

.form-view-tab {
    border: 1px solid #ccc;
    background-color: #c1c1c1;
    flex-grow: 0;
}