.navlist {
    width: 93%;
    height: 100%;
    background-color: #111;
    overflow-y: auto;
}

.navlistitem {
    width: 100%;
    margin: 0px 0px 0px 0px ;
    padding: 6px 2px 6px 4px;
    text-decoration: none;
    font-size: 24px;
    color: #c0c0c0;
    display: block;
    cursor:pointer;
    margin-left: 24px;
}

.navlistseparator {
    width: 100%;
    margin: 0px 0px 0px 0px ;
    padding: 6px 2px 6px 4px;
    text-decoration: none;
    font-size: 24px;
    color: #c0c0c0;
    display: block;
    margin-left: 0px
}
