
.resize-win {
    border: 2px solid black;
    border-radius: 10px;
    display: flex ;
    flex-direction: row ;
    position: absolute;
    left: 500px ;
    top: 50px ;
}

.resize-win-close {
    font-size: 244px ;
    font-weight: bolder;
}

.resize-win-left {
    font-size: 224px ;
    font-weight: bolder;
}

.resize-win-right {
    font-size: 224px ;
    font-weight: bolder;
}