.xero-foldable {
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border: 1px solid black ;
}

.xero-foldable-title {
    background: lightgray ;
    flex-grow: 0;
    width: 100%;
    display: flex ;
    flex-direction: row;
    border: 1px solid black ;
}

.xero-foldable-title-text {
    background: lightgray ;
    flex-grow: 0;
    text-align: left;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.xero-foldable-title-arrow {
    background: lightgray ;
    text-align: right;
    font-size: 24px;
    flex-grow: 0;
    cursor: pointer;
}

.xero-foldable-content {
    flex-grow: 1 ;
}