#info_main {
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;    
    box-shadow: 10px 5px 5px lightgray;    
    position: relative;
    top: 25%;
    width: max-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info_location {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#info_table {
    width: 720px ;
}

.info-table-cell {
    padding: 5px 10px;
}

.info-table-icon-import {
    margin-left: 0px;
    margin-right: 0px;
}

.info-table-icon-create {
    margin-left: 5px;
    margin-right: 5px;
}

.info-table-icon-edit{
    margin-left: 0px;
    margin-right: 0px;
}