.picklist-info {
    display: flex ;
    flex-direction: row;
    width: 100%;
    border-top: 20px ;
    border-bottom: 20px;
    margin-top: 10px ;
    margin-bottom: 10px ;
}

.picklist-info-name {
    margin-right: 25px;
}

.picklist-info-existing {
    margin-right: 5px;
}

.picklist-info-text {
    margin-left: 5px;
}

.picklist-info-label {
    margin-left: 5px;
}

.picklist-info-label2 {
    margin-left: 50px;
}