.select-event-header {
    font-weight: bold ;
    font-size: 18px;
}

.select-event-header:hover {
    cursor: pointer;
}

.select-event-row-even {
    background-color: antiquewhite;
}

.select-event-row-odd {
    background-color: lightgray
}

.select-event-row-odd:hover {
  color: #000;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

.select-event-row-even:hover {
    color: #000;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
  }

#select-event-sort-row {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:first baseline ;
}