.select-event-header-row {
    font-weight: bold ;
    font-size: 18px;
    cursor: pointer;
}

.select-event-row-even {
    background-color: antiquewhite;
}

.select-event-row-odd {
    background-color: lightgray
}

.select-event-row-odd:hover {
  color: #000;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

.select-event-row-even:hover {
    color: #000;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
  }
